* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
}

.items {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item {
    margin: 20px;
}

.radio-btn {
    margin: 10px 10px 20px 20px;
}